{% extends "layout.html" %}

{% block title %}
    Transaction
{% endblock %}

{% block content %}
    <form action="/buy" method="post">
        <section id="hero" class="pricing">
            <div class="container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6" data-aos="zoom-im" data-aos-delay="100" style="margin: 0 auto;">
                    <div class="box">
                        
                        <div class="section-title">
                            <h2>Stock Transaction</h2>
                        </div>
                        
                        <div class="login-form">
                            <div class="form-group">
                                <br><input name="symbol" placeholder="Symbol" type="text" autocomplete="off" autofocus class="form-control mx-auto w-auto">
                                <br><br>
                                <input name="shares" placeholder="Shares" type="number" step="1" autocomplete="off" autofocus class="form-control mx-auto w-auto">
                            </div>

                            <div class="btn-wrap">
                                <br><button class="btn-buy" type="submit">Buy</button>
                            </div>
                        </div>
                    
                    </div>
                </div>

            </div>
        </section>
    </form>
{% endblock %}