{% extends "layout.html" %}

{% block title %}
    Stock Quotation
{% endblock %}

{% block content %}
    <form action="/quote" method="post">
        <section id="hero" class="pricing">
            <div class="container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6" data-aos="zoom-im" data-aos-delay="100" style="margin: 0 auto;">
                    <div class="box">
                        
                        <div class="section-title">
                            <h2>Stock Quotation</h2>
                            <br>
                            <h5>Symbol: {{ symbol }}
                            <br>Company: {{ name }}
                            <br>Price: {{ price }}</h5>
                        </div>

                            <div class="register-link m-t-15 text-center">
                                <p><a href="{{ url_for('quote') }}">Back</a></p>
                            </div>
                        
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}